---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Doug Flynn, Software Engineer">
	<main>
		<nav>
			<a href="/about">About</a>
			<a href="https://github.com/DukeFerdinand">GitHub</a>
		</nav>

		<div class="container">
			<div class="section-1">
				<h3 class="greeting">Howdy</h3>
				<!-- h1 for SEO -->
				<h1 class="subtitle">
					I'm Doug, AKA <a href="http://twitch.tv/duke_ferdinand">
						Duke_Ferdinand
					</a>
				</h1>
			</div>

			<div class="section-2">
				<h2>Projects</h2>

				<ul>
					<li>
						<p>Botsuro Yamashita</p>
					</li>
					<li>
						<p>Twitch Music Id</p>
					</li>
					<li>
						<p>Rust DDNS</p>
					</li>
				</ul>
			</div>
		</div>
	</main>

	<style scoped lang="scss">
		main {
			margin: auto;
			padding: 1.5rem;
			/* max-width: 60ch; */
		}

		h3.greeting {
			font-weight: 200;
			font-size: 7rem;
			color: var(--color-accent);
			margin: 0;
			margin-top: 20rem;
			font-family: var(--header-font);
		}

		h1.subtitle {
			font-weight: 400;
			font-size: 2.5rem;
			color: var(--color-text);
			margin: 0;
			font-family: var(--header-font);
		}

		a {
			color: var(--color-primary);
			text-decoration: none;
			font-family: var(--header-font);
		}

		nav {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 2rem;

			a {
				margin-left: 1rem;
				font-size: 1.5rem;
			}
		}

		.container {
			display: grid;
			grid-template-columns: 1fr 1fr;

			.section-2 {
				width: 60%;
				margin: 0 auto;
				margin-top: 10rem;
				padding: 2.5rem;
				background-color: var(--color-selection);
				border-radius: 1.5rem;

				h2 {
					font-weight: 400;
					font-size: 2.5rem;
					color: var(--color-accent-active);
					margin: 0;
					font-family: var(--header-font);
					margin-bottom: 3rem;
				}

				p {
					font-size: 1.5rem;
					color: var(--color-text);
					font-family: var(--body-font);
				}
			}
		}
	</style>
</Layout>
